@font-face {
    font-family: "Proxima-Nova-semibold";
    src: url("../../assets/fonts/proximanova-semibold-webfont.woff");
}

@font-face {
    font-family: "Proxima-Nova-Bold";
    src: url("../../assets/fonts/Proxima-Nova-Bold.otf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../../assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-SemiboldItalic";
    src: url("../../assets/fonts/OpenSans-SemiboldItalic.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../../assets/fonts/Montserrat-Bold.ttf");
}
